<div style="height: 90%;" class="flex  justify-center w-full">
    <div style="width: 50%  " class="w-1/2 p-8  ">
        <h1 style="font-weight: bolder ;" class="text-7xl font-extrabold mt-6 p-9 pl-0 pb-3">Education is one thing<span
                class="text-orange-500"> no one</span> can take away from you.</h1>
        <p class="mt-8 text-lg pr-3">Transform your career with dynamic online learning at your fingertips.
            Access a wide range of courses tailored to fit your goals and schedule.
            Connect with a global community of passionate learners and educators.
            Embrace the power of knowledge and start your journey today!</p>
        <button class="bg-orange-500 p-4 rounded-full text-2xl text-gray-50 font-semibold mt-4">Let's start</button>
    </div>
    <div class="w-1/2 mt-2 flex items-center justify-center overflow-hidden">
        <img src="https://cdn.pixabay.com/photo/2020/09/25/10/10/education-5600987_640.png"
            class="h-full w-full object-cover " alt="Education Illustration">
    </div>



</div>
