
    <nav style="height: 10%;" class="bg-white font-normal text-xl flex items-center justify-between border-b-2">
        <div class="text-center  m-4 mt-6 text-black font-bold font-serif">
            <h2 class="m-0">E-learning</h2>
          
        </div>
        <div class="flex justify-between w-3/5 items-center m-2 mt-3">
            <a style="text-decoration: none " routerLink="home" class="mx-2 text-black">Home</a>
            <a style="text-decoration: none " routerLink="registration" class="mx-2 text-black" >Registration</a>
            <a style="text-decoration: none " routerLink="login" class="mx-2 text-black">Login</a>
            <a style="text-decoration: none" routerLink="course" class="mx-2 text-black">Course</a>
            <a style="text-decoration: none " routerLink="student-profile" class="mx-2 text-black">Student Profile</a>
            <a  style="text-decoration: none" routerLink="about" class="mx-2 text-black">About</a>
            <a style="text-decoration: none" routerLink="contact" class="mx-2 text-black">Contact</a>
            <a style="text-decoration: none " class="mx-2 text-black">Admin</a>
        </div>
    </nav>
    <div class="CONTAINER">
        <router-outlet></router-outlet>
    </div>


    
   
